<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="text-center"><%= t(".title") %></h3>
        <% flash.each do |key, value| %>
          <div class="alert alert-danger"><%= value %></div>
        <% end %>
        <%= render partial: '/sessions/form' %>
      </div>
    </div>
  </div>
</div>
