<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="text-center"><%= t(".title") %></h3>
        <%= flash_messages %>
        <%= bootstrap_form_for @user, label_errors: true do |form| %>
          <%= render partial: '/users/form', object: form %>
        <% end %>
      </div>
    </div>
  </div>
</div>
