<!DOCTYPE html>
<html>
  <head>
    <title>Gravatar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
       <div class="header clearfix">
         <nav>
           <ul class="nav nav-pills pull-right">
             <li role="presentation"><a href="#">Log in</a></li>
             <li role="presentation"><a href="#">Sign up</a></li>
           </ul>
         </nav>
         <h3 class="text-muted">GravaClone</h3>
       </div>

       <%= yield %>

       <footer class="footer">
         <p>&copy; 2016 Company, Inc.</p>
       </footer>

     </div> <!-- /container -->
  </body>
</html>
